
<div class="main my-4">
  <div class="container">
    <div class="Header-lable">
      <h4> Books</h4>
      <!-- Small button groups (default and split) -->
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort by relevance
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Price: Low to High</button>
          <button class="dropdown-item" type="button">Price: High to Low</button>
          <button class="dropdown-item" type="button">Newest Arrivals</button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="cart-card product">
  <div class="container">
    <!-- row 01 -->
    <div class="row row-cols-1 row-cols-md-4 mb-3">
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book1.png" class="card-img-top m-auto" alt="Book1">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book2.png" class="card-img-top m-auto" alt="Book2">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book3.png" class="card-img-top m-auto" alt="Book3">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book4.png" class="card-img-top m-auto" alt="Book4">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- row 02 -->
    <div class="row row-cols-1 row-cols-md-4 mb-3">
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book5.png" class="card-img-top m-auto" alt="Book5">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1 cart_btn"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book6.png" class="card-img-top m-auto" alt="Book6">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book7.png" class="card-img-top m-auto" alt="Book7">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book8.png" class="card-img-top m-auto" alt="...">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- row 01 -->
    <div class="row row-cols-1 row-cols-md-4 mb-3">
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book1.png" class="card-img-top m-auto" alt="...">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book2.png" class="card-img-top m-auto" alt="...">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book3.png" class="card-img-top m-auto" alt="...">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-bg-cover">
            <div class="cart-img">
              <img src="../../assets/Book4.png" class="card-img-top m-auto" alt="...">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title font-16 mb-0">Don't Make Me Think</h5>
            <small class="card-text card-autor">by Steve Krug</small>
            <div class="card-price">
              <small class="font-weight-bold">Rs. 1500</small>
            </div>
            <div class="card-button">
              <button type="button" class="btn btn-primary btn-color-brown text-uppercase btn-sm w-100 mr-1"> Add to
                bag</button>
                
              <button type="button" class="btn btn-outline-dark btn-sm text-uppercase w-100 ml-1"> Wishlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
            class="far fa-arrow-alt-circle-left"></i></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#"><i class="far fa-arrow-alt-circle-right"></i></a>
      </li>
    </ul>
  </nav>
</div>

<div class="nav-footer">
  <div class="container">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white" href="#"> <small> Copyright @ 2020, Bookstore</small> </a>
    </nav>
  </div>
</div>