<header class="heder-bg">
    <div class="container">
      <nav class="navbar">
        <a class="card_icon navbar-brand text-white">
          <img class="logo-image" src="../../assets/education.svg">
          Bookstore
        </a>
        <input class="form-control w-50" type="search" placeholder="Search" aria-label="Search">
        <div class="cart_value text-white" routerLink='/cart'>cart
          <img class="icon-color" src="../../assets/supermarket.svg">3
        </div>
      </nav>
    </div>
  </header>
